Source: liftoff
Section: devel
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://elementary.io

Package: liftoff
Architecture: any
Depends: debhelper,
#        ccache,
#        debian-archive-keyring,
#        debian-keyring,
         dh-autoreconf,
         germinate,
         gobject-introspection,
         libgirepository1.0-dev,
         pbuilder,
         pixz,
         qemu-user-static,
         quilt,
#        ubuntu-keyring,
         ${misc:Depends}
Recommends: bzr, bzr-builder, valac
Description: automated build system for elementary
 A wrapper for pbuilder that automatically builds and uploads elementary packages.
