Source: liftoff
Section: devel
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://elementaryos.io

Package: liftoff
Architecture: any
Depends: bzr,
         bzr-builder,
#         ccache,
         debhelper,
#        debian-archive-keyring,
#        debian-keyring,
         dh-autoreconf,
         germinate,
         gobject-introspection,
         libgirepository1.0-dev,
         pbuilder,
         pixz,
         qemu-user-static,
         quilt,
#        ubuntu-keyring,
         valac
         ${misc:Depends}
Description: automated build system for elementary
 A wrapper for pbuilder that automatically builds and uploads elementary packages.
